node_modules
coverage
AppData/
Contacts
Desktop
Documents
Downloads
.editorconfig
Favorites/
foxyinp.dat
.gimp-2.8/
.ipynb_checkpoints/
.ipython/
.julia
.julia/
.julia_history
.jupyter/
LICENSE
Links
Music
NTUSER.DAT
NTUSER.DAT{b794f0d8-4b5d-11e6-80e4-e41d2d719790}.TM.blf
NTUSER.DAT{b794f0d8-4b5d-11e6-80e4-e41d2d719790}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{b794f0d8-4b5d-11e6-80e4-e41d2d719790}.TMContainer00000000000000000002.regtrans-ms
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
OneDrive
.oracle_jre_usage
Pictures
README.md
Saved Games
Searches
.thumbnails/
.travis.yml
Videos
